@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
body{
    background-color: #EEF9BF;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    color: #75B79E;

    text-align: center;
    margin-top: 40px;
}
.content{
    position: relative;
}
.counter{
    font-size: 30px;
    color:red;

    position: absolute;
    top: 20px;
    right: 0px;
}
.content, .board{
    width: 1035px;
    margin-left: auto;
    margin-right: auto;
}
.board, .face{
    display: flex;
    justify-content: center;
}
.board{
    margin-top: 50px;
    
    flex-wrap: wrap;
    
    gap: 34px;
}
.card{
    width: 117px;
    height: 146px;

    position: relative;
}
.face{
    width: 100%;
    height: 100%;

    background-color: #A7E9AF;
    border: solid 1px #99CEA8;
    border-radius: 5px;

    align-items: center;

    position: absolute;

    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}
.back{
    transform: rotateY(180deg);
}
.turnedFront{
    transform: rotateY(-180deg);
}
img{
    width: 100px;
    height: 100px;
}

@media (max-width: 1030px){
    .content, .board{
        width: 100%;
        margin-bottom: 30px;
    }
    h1{
        font-size: 36px;
    }
}