@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
body{
    background-color: #EEF9BF;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    color: #75B79E;
    text-align: center;
    margin-top: 40px;
}
.container{
    width: 1035px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 34px;
}
.carta{
    width: 117px;
    height: 146px;
    position: relative;
}
.face{
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border: solid 1px #99CEA8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}
.back{
    transform: rotateY(180deg);
}
.carta:hover .back{
    transform: rotateY(0deg);
}

.carta:hover .front{
    transform: rotateY(-180deg);
}
img{
    width: 100px;
    height: 100px;
}

@media (max-width: 1030px){
    .container{
        width: 100%;
    }
}